<div id="side-nav" fxLayout="column">
  <!-- <ul class="flex-container">
    <li>
      <button mat-icon-button>
          <mat-icon>dashboard</mat-icon>
      </button>
    </li>
    <li></li>
    <li></li>
    <li></li>
  </ul> -->

  <div fxLayout="column" fxLayoutAlign="start center">
    <div style="padding-bottom: 10px;">
        <button mat-icon-button>
          <mat-icon routerLink="/add">add</mat-icon>
        </button>
    </div>
    
    <button mat-icon-button>
      <mat-icon routerLink="/task-board">dashboard</mat-icon>
    </button>
  </div>

  <div class="bottom-link">
    <div fxLayout="column" fxLayoutAlign="start center">
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>