#side-nav {
    background-color: #525252;
    padding-top: 18px;
    width: 44px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.side-nav ul{
    list-style: none;
}

.flex-container{
    display: flex;
}

.mat-icon-button{
    background-color: transparent;
}

.mat-icon{
    color: #ADADAD;
}
.mat-icon:hover{
    color: #d8d7d7;
}

.bottom-link{
    position: absolute;
  bottom: 0;
  left: 0;
}